html{
  height: 100%;	
	min-width: 1000px;
	background-color: #0F89CC;
}
html.subpage{
	
}
body{
	text-align: center;
}
a:focus{
	outline: none;
}
#main_nav li{
	float: left;
	height: 40px;
}
a.flipv{
	font-size: 20px;
	font-family: helvetica;
	overflow: auto;
	display: block;
	color: #fff;
	font-weight: 600;
	text-decoration: none;
}
#content_wrapper{
	width: 100%;
	margin: 0px auto;
	display: block;
	position: relative;
}
#main_nav{
	position: absolute;
	top: 376px;
	left: 323px;
}
.jScrollPaneContainer {
overflow:hidden;
position:relative;
z-index:1;
}
.jScrollPaneTrack {
background: url(../img/chain.png) repeat-y;
cursor:pointer;
height:100%;
position:absolute;
right:0;
top:0;
}
.jScrollPaneDrag {
background: url(../img/hook.png) no-repeat;
cursor:pointer;
overflow:hidden;
position:absolute;
height:90px !important;
}
.openZip{
background: url(../img/zip_semi.png) repeat-y;
cursor:pointer;
overflow:hidden;
position:absolute;
left: -6px;

}
.jScrollPaneDragTop {
left:0;
overflow:hidden;
position:absolute;
top:0;
}
.jScrollPaneDragBottom {
bottom:0;
left:0;
overflow:hidden;
position:absolute;
}
a.jScrollArrowUp {
display:block;
height:55px;
overflow:hidden;
position:absolute;
right:0;
text-indent:-2000px;
top:0;
z-index:1;
}
a.jScrollArrowUp:hover {
}
a.jScrollArrowDown {
bottom:0;
display:block;
height:55px;
overflow:hidden;
position:absolute;
right:0;
text-indent:-2000px;
z-index:1;
}
a.jScrollArrowDown:hover {
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
}
a.jScrollArrowUp ,.fullOpen{
	background: url(../img/zip_up.png) no-repeat;
	
	

	
}

a.jScrollArrowDown {
	/*background: url(../img/zip_down.png) no-repeat;*/
}
.subpage .holder{
/*	position: absolute;
	top: 130px;
	left: 260px;*/
	text-align: left;
}
p{
	padding: 0px 0px 10px;
	color: #636363;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
}
.scroll_pane{
	float:left;
	height:200px;
	overflow:auto;
	width:95% !important;
}
#pane{
	height: 290px;
}
a{
	color: #CE0921;
	text-decoration: none;
}
a:hover{
	color: #73C6F1;
}
#menu{
	float: left;
	width: 110px;
	padding: 0px 0px 0px 10px;
}
#left_pane{
	float: left;
	width: 320px;
}
#menu li{
	color: #FDCF00;
	font-weight: 600;
	font-size: 18px;
	padding: 0px 0px 20px;
}
#menu li ul{
	padding: 5px 0px 0px;
}
#menu li li{
	margin: 0px 0px 0px 10px;
	font-weight: 500;
	font-size: 12px;
	padding: 0px;
}
.jScrollPaneContainer { width: 100% !important;}
.jScrollPaneDrag {left : -7px;}
.jScrollSemi { background: url(../img/zip_semi.png) repeat-y 0 0; }
.jScrollArrowUp { width : 76px !important;}
